html, body {
    height:100%;
    margin:0;
    padding: 0;
    font-size: 18px;
    background: rgb(36, 36, 36);
    color: rgb(149, 149, 149);
}
div {
    margin: 0;
    padding: 0;
}
#app {
    height: 100%;
    }
    #bookmarks {
        background-color: rgb(51, 51, 51);
        color: inherit;
        border-bottom: 1px solid rgb(61, 61, 61)
        }
        #bookmarks a {
            color: inherit;
        }
    #markdown {
        background: inherit;
        color: inherit;
        border: none;
        font-size: inherit;
    }
    #screen {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        }
        #screen > div {
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            flex: 1;
        }
    #tools {
        border-top: 1px solid rgb(80, 80, 80);
        background: rgb(33, 33, 33);
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }
.list-root {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
.item-root {
    float: left;
}

.list-children {
    position: absolute;
    display: none;
    transition: 0.3s;
}
.list-children.opened {
    display: block;
}
.item:hover>.list{
    display:block;
}
.item, .list {
    padding: 8px;
    background-color: #333333;
}
