html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 18px;
    background: rgb(36, 36, 36);
    color: rgb(149, 149, 149);
    font-family: Menlo, Consolas, DejaVu Sans Mono, monospace;
    overflow: hidden;
}

div {
    margin: 0;
    padding: 0;
}

/* Helpers */
.flexbox {
    display: flex  !important;
}

.hidden {
    display: none  !important;
}

#app {
    min-height: 100vh;
    max-height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

/* REST BAR STYLES */
#bookmarks {
    padding: 3px;
    font-size: 14px;
    background-color: rgb(51, 51, 51);
    border-bottom: 1px solid rgb(61, 61, 61);
    color: inherit rgb(255, 255, 255);
}
#bookmarks ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#bookmarks a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
#bookmarks span {
    cursor: default;
}

/* BOOKMARKS BAR ITEMS STYLING */
#bookmarks > ul > li {
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
    position: relative;
}
#bookmarks > ul > li a,
#bookmarks > ul > li span {
    display: block;
    color: inherit;
    padding: 4px 4px 4px 2em;
}

/* ALL CHILDREN LIST */
#bookmarks > ul > li ul {
    position: absolute;
    display: none;
    background: rgb(36, 36, 36);
    padding: 4px;
    box-shadow: rgb(61, 61, 61) 0 0 0 1px ;
    min-width: 150px;
    z-index: 10;
}
#bookmarks > ul > li > ul {
    top: 100%;
}
#bookmarks > ul > li ul li {
    margin-left: -4px;
    margin-right: -4px;
}

/* ICON ITEMS STYLING */
#bookmarks a::before,
#bookmarks span::before,
#bookmarks span::after {
    position: absolute;
    content: '';
    display: block;
    height: 1em;
    width: 1em;
    background-size: 1em;
    top: 50%;
    margin-top: -.5em;
}
#bookmarks a::before,
#bookmarks span::before {
    left: .5em;
}
#bookmarks a::before {
    background-image: url('./assets/icon-site.svg');
}
#bookmarks span::before {
    background-image: url('./assets/icon-folder.svg');
}
#bookmarks span::before {
    background-image: url('./assets/icon-folder.svg');
}
#bookmarks > ul > li ul span::after {
    right: 0;
    background-image: url('./assets/icon-arrow.svg');
}

/* STYLING SECOND AND THIRD LEVELS LIST */
#bookmarks > ul > li > ul a,
#bookmarks > ul > li > ul span {
    position: relative;
}
#bookmarks > ul > li > ul ul {
    top: 0;
    left: calc(100% + 1px);
}

#bookmarks li:hover > span,
#bookmarks li:hover > a {
    background: rgba(235, 235, 235, 0.2);
}

/* ALL CHILDREN LIST ITEM */
#bookmarks > ul li:hover > ul {
    display: block;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    background-color: rgb(51, 51, 51);
    border-top: 1px solid rgb(61, 61, 61);
}
#footer a {
    color: rgb(200, 200, 200);
}

#main {
    flex: 1;
    display: flex;
    justify-content: center;
}

#editor {
    max-width: 1000px;
    flex: 1;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(76, 76, 76);
    background: inherit;
    margin: 5px;
}

#markdown {
    flex: 1;
    background: inherit;
    color: inherit;
    border: none;
    font-size: inherit;
    resize: none;
    /*overflow: hidden;*/
}

#content {
    width: 1000px;
    margin: 5px;
    overflow-x: hidden;
    position: relative;
}
#content a,
#content a:hover,
#content a:visited {
    color: rgb(235, 235, 235);
}

#edit {
    position: absolute;
    top: 0;
    right: 0;
    background: #333333;
    color: rgb(235, 235, 235);
    border: 0;
    box-shadow: none;
    border-radius: 0px;
    padding: 5px 10px;
    cursor: pointer;
}
#edit:focus {
    outline-color: #fff;
    outline-style: solid;
}
